<nav class="navbar">
	<div class="container">
		<div class="logo">
			<h1>SCRUM Interactivo</h1>
		</div>
		<ul class="nav-links">
			<li>
				<a routerLink="/inicio" routerLinkActive="active" class="nav-link">Inicio</a>
			</li>
			<li>
				<a routerLink="/que-es" routerLinkActive="active" class="nav-link">¿Qué es?</a>
			</li>
			<li>
				<a routerLink="/roles" routerLinkActive="active" class="nav-link">Roles</a>
			</li>
			<li>
				<a routerLink="/eventos" routerLinkActive="active" class="nav-link">Eventos</a>
			</li>
			<li>
				<a routerLink="/presentacion" routerLinkActive="active" class="nav-link">Presentación</a>
			</li>
			<li>
				<a routerLink="/caso-estudio" routerLinkActive="active" class="nav-link">Caso Real</a>
			</li>
		</ul>
		<app-theme-toggle></app-theme-toggle>
	</div>
</nav>
