.presentation-container {
    position: relative;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    border: 8px solid var(--text-color);
    border-radius: 2.5rem;
    aspect-ratio: 16 / 9;
}

.presentation-container iframe {
    width: 100% !important;
    height: 100% !important;
    display: block;
    border: none;
    transform: scale(1.015);
    transform-origin: center;
}

@media (max-width: 768px) {
    .presentation-container {
        width: 80%;
        border: 3px solid var(--text-color);
        border-radius: 2rem;
    }
}

@media (max-width: 480px) {
    .presentation-container {
        width: 90%;
        border: 3px solid var(--text-color);
        border-radius: 1.5rem;
    }
}
